.hero-div {
    background-image: url('https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1600'); 
    aspect-ratio: 16/9;
}

.headerDiv {
    padding: 10px;
    background:  orange;
    text-align: center;
  }
  .headerDiv img {
    width: 120px;
    float: left;
  }
  .headerDiv div {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    display: block;
    margin-top: 30px;
  }
  .headerDiv div a {
    padding: 5rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .col {
    gap: 25rem;
  }
  #col1 {
    
  }
  #col2 {
    
  }
  .search-contents {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  .hotel-card {
    box-shadow: 0 2px 5px 0 black ;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: .25rem;
    background-color:	 #ccf2ff;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 700;
    font-size: large;
    text-align: center;
    
  }

  .hide {
    display: none;
  }
  .priceDiv {
    background: green;
    font-weight: 700;
    font-size: 30px;
    
    
  }
  #add-form {
    color: black;
  }
#add-label {
    color:black ;
    font-size: 30px;
    font-weight: 700;
}
#search {
  border-radius: 25px;
  margin-bottom: 20px;
  height: 50px;
  
}
#search:hover {
  box-shadow: 0 2px 1px 0 black;
}
.search-contents i {
  position: relative;
}
.btn2 {
  background: orange;
  font-family: 'Courier New', Courier,;
  border-radius: 25px;
}
.formDiv {
  background: #ccf2ff;
  margin-bottom: 30px;
}
.card {
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 25px;
  
}
.card img {
  border-radius: 25px;
}
.spots-span {
  font-weight: bolder;
  font-size: 30px;
  color: red;
  margin-left: 10px;
}
.search-contents label {
  color: white;
  font-size: 30px;
}









