.hero-div {
    background-image: url('https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1600'); 
    aspect-ratio: 16/9;
}

.headerDiv {
    padding: 10px;
    background:  whitesmoke;
    text-align: center;
  }
  .headerDiv img {
    width: 120px;
    float: left;
  }
  .headerDiv div {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    display: block;
    margin-top: 30px;
  }
  .headerDiv div a {
    padding: 5rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .col {
    gap: 25rem;
  }
  #col1 {
    
  }
  #col2 {
    
  }
  .search-contents {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  .hotel-card {
    box-shadow: 0 2px 5px 0 black ;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: .25rem;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .hide {
    display: none;
  }
  .priceDiv {
    background: green;
    font-weight: 700;
    font-size:larger
  }
  #add-form {
    color: yellow;
  }
#add-label {
    color:yellow ;
    font-size: 30px;
    font-weight: 700;
}











  /* .card {
    border-radius: 25px;
    border: none;
    box-shadow: 0 2px 5px 1px black;
    margin-bottom: 10px;
    overflow: hidden;

  }
  .card-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit);
    margin-top: 10px;
    
  }
  .flex {
    display: flexbox;
    gap:5rem;
  }
  .card-header {
    margin-bottom: 2px;
    overflow: hidden;
  }
  .card-header img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    border-radius: 0 25px;
  }
  .card-body {
    color: blue;
    font-size: .9rem;
  }
  .card-footer {
    margin-top: 5px;
  }  
  .btn {
    background: orange;
    float: right;
  }
  .btn:hover {
    background: orangered;
  } */
